name: Notify on Workflow Failure

on:
  workflow_run:
    workflows: ["Process new code merged to main", "Remote Build iOS", "Remote Build Android"]
    types:
      - completed

permissions:
  issues: write

jobs:
  notifyFailure:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Process Failed Jobs
        uses: ./.github/actions/javascript/failureNotifier
        with:
          GITHUB_TOKEN: ${{ github.token }}
